/* Header.css */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    font-family: 'NanumGothic', '나눔고딕', dotum, "Helvetica Neue", Helvetica,

  }
  
  .header h1 {
    margin: 0;
    font-size: 24px;
  }
  
  .header h1 a{
    text-decoration: none;
    color: #656565;
  }
  
  .header h1 a:hover {
    text-decoration: underline;
  }
  