<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>로그인</title>
</head>
<body>
    <div class="container">
        <h1>로그인</h1>

        <form method="POST" th:action="@{/loginProc}">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
            
            <div>
                <label for="username">계정명</label>
                <input type="text" id="username" name="username" placeholder="ID를 입력하세요." required />
            </div>
            
            <div>
                <label for="password">암호</label>
                <input type="password" id="password" name="password" placeholder="패스워드를 입력하세요." required />
            </div>
            
            <div>
                <input type="submit" value="로그인" />
                <input type="button" value="회원가입" onclick="location.href='/join'" />
            </div>
        </form>
    </div>
</body>
</html>
